* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
  

.header{
  display: flex;
  flex-direction: column;
}

#nav-flex {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  height: 60px;
  background-color: #05091c;
  text-decoration: none;
  font-size: 20px;
  color: #ccc;
  

}

.nav-flex-container {
  margin-left: 20px;
  margin-top: 10px;
  color: #ccc;
}
.nav-flex-container1 {
  margin-left: 20px;
  margin-top: 10px;
  align-content: flex-end;
  
}
.nav-flex-container a:hover{
  color: rgb(224, 185, 127);
}

.button {
  background-color: rgb(156, 140, 61);
  border: none;
  padding: 6px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 100px;
}
.topbg{
  background-color: #05091c;
  text-align: center;
  margin-bottom: 1px;
}
.banner-text{
  background-color: #05091c;
    text-align: center;
}

.image1{
  width: 400px;
}
.image2{
  width: 1360px;
}
.image4{
  width: 400px;
}
.contaner1{
  
  display: flex;
  background-color: #05091c;
  color: aliceblue;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  /* text-align: center; */
  /* display: grid; */
  /* grid-template-columns: repeat(3,1fr); */

}
.text{
  margin-left: 25px;
  margin-right: 40px;
  margin-top: 15px;
  margin-bottom: 20px;
}
.h21{
  color: #ae8023;
}
.h22{
  color: #05091c;
}
.hr3{
  color: #ae8023;
  height: 8px;
  background-color: #ae8023;
  margin: 10px;
  width: 100%;
}
.box1{
  margin-left: 80px;
  margin-bottom: 30px;
  height: 280px;
  width: 420px;
  background-color:#183763 ;
}

.box2{
  height: 280px;
  width: 420px;
  background-color:#ae8023 ;
}
.box3{
  margin-right: 80px;
  height: 280px;
  width: 420px;
  background-color:#183763 ;
}

.contaner{
  /* display: grid;
  grid-template-columns:repeat(2,1fr); */
  display: flex;
  font-size: 14px;
  color: black;
  margin-left: 70px;
  margin-right: 70px;
}
.button2{
  background-color: white;
  color:#183763;
  border: none;
  padding: 15px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 80px;
}
.button2 a:hover{
  /* border-color:#ac651f;
  border-width:5px ; */
  color: rgb(224, 185, 127);

}
/* .................................................................. */

.p1{
   margin: 50px;
   text-align: justify;
}

.p2{
    margin: auto;
}


   
.blog{
  font-size: 36px;
  margin-left: 100px;
}

.hr{
  width: 90%;
  height: 2px;
  border: 0 none;
  margin-right: auto;
  margin-left: auto;
  background-color: #05091c;
}
    
.hr1{
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  background-color: #05091c;
}

.hr2{
  width: 90%;
  height: 2px;
  border: 0 none;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 90px;
  background-color: #05091c;
}

.button-caption{
  background-color:white ;
  padding: 6px 55px;
  font-size: 16px;
  border-radius: 10px;
  margin: 20px;
}

.butten1{
  text-align: center;
}

/* ........................................................ */
/* scroll bar */
::-webkit-scrollbar{
  width: 20px;
}

::-webkit-scrollbar-track{
  border-radius: 10px;
  background: #c5b5e3;
}
::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background: gray;
}

/* .....................footer.................... */

.footer{
  background-color: #05091c;
  background-size: 400px;
}