* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

#nav-flex {
  overflow: hidden;
  display: flex;
  height: 60px;
  background-color: #05091c;
  text-decoration: none;
  font-size: 20px;
  color: #ccc;
}

.nav-flex-container {
  margin-left: 20px;
  margin-top: 10px;
  color: #ccc;

  
}
.nav-flex-container1 {
  margin-left: 20px;
  margin-top: 10px;
  align-content: flex-end;
  
}
.nav-flex-container a:hover{
  color: rgb(224, 185, 127);
}

.button {
  background-color: rgb(156, 140, 61);
  border: none;
  padding: 6px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 100px;
}
.topbg{
  background-color: #05091c;
  text-align: center;
  margin-bottom: 1px;
}
.image1{
  width: 400px;
}
.image2{
  width: 1300px;
}
.image4{
  width: 400px;
}

.contaner{
  display: grid;
  grid-template-columns:repeat(2,1fr);
  font-size: 14px;
  color: black;
  row-gap: 30px;
}
/* .................................................................. */

.banner-text{
  background-color: #05091c;
    text-align: center;
}


h3{
  text-align: justify;
}


  .p1{
   margin: 50px;
   text-align: justify;
  }
  .p2{
    margin: auto;
   }


.button-caption{
  background-color:white ;
  padding: 6px 55px;
  font-size: 16px;
  border-radius: 10px;
}

.hr{
  width: 80%;
  height: 2px;
  border: 0 none;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 90px;
  background-color: #05091c;
}
/* ........................................................ */
/* scroll bar */
::-webkit-scrollbar{
  width: 20px;
}

::-webkit-scrollbar-track{
  border-radius: 10px;
  background: #c5b5e3;
}
::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background: gray;
}

/* .....................footer.................... */

.footer{
  background-color: #05091c;
  background-size: 400px;
}